*{
   padding:0px;
   margin:0px;
   text-decoration:none;
   list-style:none;
   font-family:sans-serif;
}
.container{
	background-color:black;
	height:598px;
	width:100%;
}
header{
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
}
header a img {
	width:70px;
	margin-top:1px;
}
header ul{
	display:flex;
}
header li{
	list-style:none;
}
header ul li a{
	color:white;
	margin:0 10px;
}
.content{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:80%;
	margin:auto;
	padding-top:110px;
}
.content .text{
	width:40%;
	color:white;
	
}
.content .text h1{
	font-size:190%;
}
.content .text p{
	font-size:100%;
	margin:20px 0;
}
.content .text a  {
	text-decoration:none;
	background:white;
	color:black;
	padding:8px 15px;
	border-radius:20px;
}
#a,#a1,#a2,#a3,#a4{
	padding:8px 15px;
	border-radius:20px;
}
#a:hover{
	background-color:#ffffff55;
}
#a1:hover{
	background-color:#ffffff55;
}
#a2:hover{
	background-color:#ffffff55;
}
#a3:hover{
	background-color:#ffffff55;
}
/* #a4:hover{ */
	/* background-color:#ffffff55; */
	/* color:white; */
/* } */
#a5:hover{
	background-color:#ffffff55;
	color:white;
}
header ul { 
	background:#202021;
	padding:13px 15px;
	border-radius:25px;
}
.content img {
	width:450px;
}
.icons{
	margin-top:150px;
	display:flex;
	justify-content:center;
}
.icons img {
	width:40px;
	height:60px;
	margin:4px;
}
/* .icons a :hover{
	width:50px;
	height:70px;
} */
ul li p{
	font-style:italic;
	font-size:50px;
	padding-left:20px;
}

.photoLogo:hover{
	width: 50px;
	height: 70px;
}

/* css phone1.html */




h2{
	color:white;
	padding-top:25px;
	color:black;
}
nav h2 {
	font-size:40px;
	color:black;
	padding:5px;
}
ul li img {
	border-radius:40px;
	margin-bottom:20px;
}

.header span{
	position:fixed;
	margin-top:74px;
	background-color:black;
	width:84%;
	height:30px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-left:191px;
}
.header span a {
	padding:0px 30px 0 30px;
	text-align:center;
	border-radius:8px;
}
.header span a:hover{
	background:#CCCCCC;
	color:black;
}
header{
	position:fixed;
}
nav{
	position:fixed;
	margin-top:74px;
}
.container1{
	display:flex;
	flex-direction: column;
	background:#F5F5F5;
	overflow:auto;
}
.contenu1 nav ul li a {
	color:black;
	padding:0 40px;
	margin:4px 0;
}
nav{
	background-color:#CFCFCF;
	width:auto;
	font-size:20px;
    text-align:center;
	/* margin-right:40px; */
}
.contenu1 nav ul li a:hover{
	background-color:#747478;
	font-size:22px;
	color:white;
}
.login{
	padding:11px 15px;
	border-radius:20px;
	background:#202021;
}
.login a {
	color:white;
}
.login:hover{
	background-color:#7D7D7D;
}
.contente{
	overflow:auto;
	margin-top:98px;
	height:500px;
	width:84%;
	margin-left:191px;	
}
nav ul li {
	display:flex;
	flex-direction: column;
}
.header span a {
	color:white;
	text-decoration:none;
	font-size:22px;
	font-weight:bold;
	/* padding:1px 10px 4px; */
}
.verifay {
	text-align:center;
}
.chp{
	width: 650px;
    height: 450px;
    border: 1px solid black;
    overflow: auto;
	border-radius:20px;
	background:#123;
	margin-left:180px;
}
nav{
	 border: 1px solid black;
	 padding-bottom:20px;
    overflow: auto;
	width: 190px;
    height: 503px;
}
 .chp img  {
	width:550px;
	height:430px;
	padding:10px 40px;
	margin:0;
	border-radius:20%;
}
.jpg {
	width:550px;
	height:300px;
}
.button {
	padding:8px;
	background-color:#2BC46B;
	border-radius:8px;
	border:none;
	font-size:20px;
	color:white;
	/* margin-left:40px; */
}
.flech {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:100px 0px 50px 0px;
	padding-left:115px;	
	/* background:red; */
	/* width:120%; */
}
.flech1{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:100px 0px 50px 0px;
	/* background:red; */
	/* width:120%; */
}
.flech1 p {
	padding:0 165px
}
.flech p {
	padding:0 90px 0 150px;
}
.flech h3 {
	margin:0 20px 0 30px;
}
.I {
	font-size:70px;
}

#ul2 , #ul3 , #ul4 , #ul5 , #ul6 {
	/* display:flex; */
	/* text-decoration:column; */
	/* justify-content:center; */
	text-align:center;
}
#ul2 {
	background:#E0E0E0;
}
#ul3 {
	background:#D1D1D1;
}
#ul4 {
	background:#C9C9C9;
}
#ul5 {
	background:#C2C2C2;
}
#ul6 {
	background:#B8B8B8;
}
ul{
	padding-bottom:50px;
}





/* css phone2.html */




.texte {
	width:80%;
	margin:0 0 5% 10%;
	font-style:italic;
	font-size:25px;
	color:#6D95C0;
	padding-top:120px;	
}
.semcolor{
	font-size:20px;
	margin:30px;
	background-color:#36AEFF;
	width:100px;
	padding:10px;
	margin-top:20px;
	color:white;
}
td .semcolor{
	padding:10px 35px;
}
.uni{
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin-top:50px;
	background:#E0E0E0;
}
.uni p {
	width:50%;
	padding:30px;
}
.uni .faceb {
	color:blue;
}
.faceb:hover {
	color:red;
}
.uni img {
	width:500px;
	height:300px;
}
#log{
	width:200px;
	height:200px;
}
.sem , h5{
	display:flex;
	flex-direction:column;
	text-align:center;
	justify-content:center;
	align-items:center;
}
.sem h6 {
	border:1px solid black;
	padding:25px 50px;
	font-size:35px;
}
.list{
	display:flex;
	justify-content:space-around;
}
h5{
	margin-top:70px;
	font-size:20px;
}
table{
	text-align:center;
	width:80%;
	margin:5% 0 0 10%;
	border-radius:8px;
}
th{
	border-radius:7px;	
}
td{
	padding:5px 50px;
	border-radius:10px;
}
h5 , h6 {
	color:#36AEFF;
}
.red {
	color:red;
}
.bold{
	font-weight:bold;
}



/* css phone3.html */



.section{
	padding-top:110px;
	margin-bottom:100px;
	padding-left:70px;
	font-size:25px;
	font-style:italic;
}
.section p {
	width:80%;
	padding-top:30px;
}
.texte2 , .texte3 {
	display:flex;
	justify-content:space-around;
	
}
.texte3{
	margin-top:70px; 
}
.section img {
	width:130px;
	height:130px;
}
.texte1{
	width:80%;
    margin-left:10%;
	font-style:italic;
	font-size:25px;
	color:#6D95C0;
	text-align:center;
	padding-bottom:60px;
}
.section a {
	color:blue;
	font-style:normal;
}
.web{
	color:#C97C3E;
}




   /* footer */
   
   
   
   
   
footer{
	height:912px;
	/* display:flex; */
	flex-direction:column;
	/* align-items:center; */
    /* justify-content:center; */
	padding:150px 0 0 220px; 
	background-image:url("logoPhoto/bg_sky_darker.gif");
}
footer ul li a {
	color:#FFF4A3;
	
}
footer ul li a:hover{
	text-shadow: 4px 4px 4px red;
	text-decoration:underline;
}
footer ul{
	width:60%;
	display:flex;
	justify-content:space-between;
}
footer ul li p{
	font-size:13px;
	color:white;
	padding:5px 0;
	width:100px;
	font-weight:normal;
	font-style:normal;
}
footer .shared img {
	width:20px;
	height:20px;
	margin:8px 8px 0 0 ;
}
 footer .shared a{
	 color:white;
 }
.shared span{
	margin-left:40px;
}
.bg{
	height:500px;
	width:600px;
	margin-left:199px;
	margin-top:0;
}
.sochel{
	width:80%;
	/* display:flex; */
	/* flex-wrap: wrap; */
	color:#fff;
	text-align:center;
	margin-top:50px;
	padding-bottom:4px;
	text-decoration:underline;	
	font-size:12px;

}
.sochel1 , .sochel2{
	color:#fff;
	width:50%;
	margin-left:130px;
	padding-bottom:4px;
	text-decoration:underline;
	font-size:12px;
}
.sochel2{
	width:45%;	
	margin-left:140px;
	text-decoration:underline;
}

.sochel li {
	padding:7px;

}

